*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.links, .side-menu-links{
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
    font-weight: 500;
}


.links:hover, .side-menu-links:hover{
    color: orange;
}

.logo > a{
    font-size: 1.6rem;
    color: orange;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(156, 156, 156);
    padding: 0px 2rem;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-logo{
    display: none;
}

.menu-logo > img{
    width: 2rem;
}

.side-menu{
    position: absolute;
    right: 2%;
    top: 8%;
    background-color: rgb(255, 166, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2pc;
    padding: 2rem 4rem;
    display: none;
}


.side-menu-navigation{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.side-menu-links{
    padding: 1rem 6rem;
    border-radius: 3pc;
    text-align: center;
    color: white;
    font-weight: 500;
}
.side-menu-links:hover{
    background-color: rgba(255, 166, 0, 0.877);
    color: white;
}

#close{
    position: absolute;
    top: 5%;
    left: 5%;
}

#close > img{
    filter: invert(1);
}




/* ========== Media Queries for tablets 768px ========== */

@media (max-width: 768px) {
    .menu-logo{
        display: block;
    }
    nav{
        display: none;
    }

}

@media (max-width: 580px) {

    .side-menu{
        width: 96%;
        top: 11%;
    }
}